body {
    margin-top:0;
    margin-bottom:0;
}
header {
    background-image: url(../Unit10/hotel-hero.jpg);
    height:25rem;
    max-width:960px;
    margin:auto;
    margin-top:0;
    padding-top:0;
}
h1, h2 {
    color:black;
    
}
header h1 {
    margin-bottom:0;
    padding-top:4rem;
    margin-left:2rem;
    font-size:2.8rem;
    margin-top:0;
    color:rgb(223, 110, 110);
    text-shadow:rgb(0, 0, 0) 1px 1px 4px;
}
header h2 {
    margin:0;
    padding:0;
    margin-left:2rem;
    color:rgb(255, 255, 255);
    text-shadow:rgb(56, 56, 56) 1px 1px 3px;
}
img#picture{
    margin:0 auto;
    max-width:870px;
}
main {
    margin:auto;
    max-width: 960px;
}
li {
    list-style-image: url(../Unit10/images/checkmark.png); 
    font-size:1.4rem;
}
button {
    height:3rem;
    width:15rem;
    background-color:rgb(241, 167, 167);
    color:rgb(138, 0, 0);
    border:rgb(184, 6, 6) solid 2px;
    border-left:none;
    border-top:none;
    font-weight:600;
    font-size:1.1rem;
    border-radius:8px;
    margin-top:1rem;
    margin-bottom:1rem;
    margin-right:.5rem;
}
div#wrapper {
    display:flex;
    width:100%;
    column-count: 3;
    justify-content: space-between;
}
article.columnstyling {
    color:rgb(241, 241, 241);
    height:3rem;
    width:5rem;
    margin:.2rem;
}

main h2, h1 {
    color:rgb(184, 56, 56);
}
main article h2 {
    color:rgb(81, 45, 139);
    text-align: center;
    margin-bottom:0;
}
h4#hotelName {
    font-size:2rem;
    color:rgb(92, 92, 92);
    margin-bottom:0;
    padding-left:1rem;
    padding-top:2rem;

}
div.hotelInfo {
    background: rgba(255, 154, 154, 0.616);
    padding:0;
    padding-left:5px;
    padding-bottom:1rem;
}
footer {
    margin:auto;
    max-width:930px;
    text-align: center;
    background-color:rgba(202, 202, 202, 0.377);
    padding:1rem;
    margin-top:2rem;
    
}

div.buttonContainer{
    width:25%;
    text-align: center;
}
div.buttonContainer p {
    font-size:1rem;
    color:black;
    background:rgb(207, 207, 207);
}
button#answer1, button#answer2, button#answer3, button#answer4 {
   margin:0 auto;
   width:100%;
   margin: .2rem;
}
div.block {
    margin:0 auto;
}
