body {
    margin-top:0;
    margin-bottom:0;
}
header {
    background-image: url(../Unit07/images/pizza-hero.jpg);
    height:18rem;
    max-width:960px;
    margin:auto;
    margin-top:0;
    padding-top:0;
}
h1, h2 {
    color: rgb(116, 0, 0);
    
}
header h1 {
    margin-bottom:0;
    padding-top:2rem;
    margin-left:2rem;
    font-size:2.8rem;
    margin-top:0;
    color: rgb(116, 0, 0);
    text-shadow:white 1px 1px 2px;
}
header h2 {
    margin:0;
    padding:0;
    margin-left:2rem;
    color:rgb(22, 80, 8);
}

main {
    margin:auto;
    max-width: 960px;
}
ul {
    margin-bottom:3.5rem;
}
li {
    list-style-image: url(../Unit07/images/checkmark.png); 
    font-size:1.4rem;
}
button {
    height:3rem;
    width:15rem;
    background-color:rgb(255, 204, 146);
    color:black;
    border: rgb(87, 0, 0) solid 1px;
    font-weight:600;
    font-size:1.1rem;
    border-radius:8px;
    margin-top:1rem;
    margin-bottom:1rem;
}

main h2 {
    color:rgb(223, 119, 0);
}
main article h2 {
    color:rgb(81, 45, 139);
    text-align: center;
    margin-bottom:0;
}

main h1.h1order {
    color: rgb(116, 0, 0);
    font-size:1.5rem;
}
main div.radiodiv {
    margin-top:2rem;
    margin-bottom:2rem;
    margin-left:1rem;
    display:flex;
}

div.option1 {
    margin-right:2rem;
}
label {
    font-size: 1.4rem;
}

main div#feedback {
    background: rgb(229, 255, 228);
    height:4rem;
    margin-bottom:4rem;
    font-size:1.2rem;
}

footer {
    margin:auto;
    max-width:960px;
    text-align: center;
    background-color:rgb(255, 219, 198);
    padding:1rem;
    
}