header {
    background-image: url(/images/bunnyhero.jpg);
    height:18rem;
    max-width:960px;
    margin:auto;
}
h1, h2 {
    color:black;
    
}
header h1 {
    margin-bottom:0;
    padding-top:2rem;
    margin-left:2rem;
    font-size:2.8rem;
    color:rgb(81, 45, 139);
}
header h2 {
    margin:0;
    padding:0;
    margin-left:2rem;
}

main {
    margin:auto;
    max-width: 960px;
}
li {
    list-style-image: url(/images/checkmark.png); 
    font-size:1.4rem;
}
div #wrapper {
    display:grid;
    column-count: 3;
}
div.columnstyling {
    color:rgb(241, 241, 241);
    height:3rem;
}
footer {
    margin:auto;
    max-width:960px;
    text-align: center;
    background-color:lavender;
}